<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
<title>Log in</title>
</head>
<style>
body {
background:url('/images/backlogin.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}
</style>
<body>
	<div class="container">
		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-user"></i> Please Login
				</div>
				<div class="card-block" style="padding: 24px;">
					<form th:action="@{/login}" method="post">
						<fieldset>
							
							<div th:if="${param.error}" class="alert alert-danger">
								Invalid username and password.</div>

							<div th:if="${param.logout}" class="alert alert-success">
								You have been logged out.</div>

							<div class="form-group">
								<label for="email">Email</label> <input type="email"
									class="form-control" id="email" name="email"
									placeholder="Email">
							</div>

							<div class="form-group">
								<label for="password">Password</label> <input type="password"
									class="form-control" id="password" name="password"
									placeholder="Password">
							</div>

							<div class="form-check">
								<input type="checkbox" class="form-check-input"
									id="checkRememberMe" name="checkRememberMe"> <label
									class="form-check-label" for="checkRememberMe">Remember
									me?</label>
							</div>
							
							<div class="form-actions" style="margin-top: 12px;">
								<button type="submit" class="btn btn-success">Log in</button>
							</div>
							
							<div class="form-group">
						<span>New user? <a href="/" th:href="@{/signup}">Register
								here</a></span>
							</div>	
						</fieldset>
					</form>
				</div>
			</div>

			
		</div>
	</div>
</body>
</html>
