<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<style>
table,th,td {
font-weight:bold;
border:2px solid green;
background-color:#8fb3e0;

}
img.background {
filter:blur(20px);
}
body {
    background:url('/images/backcategory.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
</style>

<body >
	<header th:insert="fragments.html :: nav"></header>
	<div class="container">
	
	<div class="row my-5">
			<div class="list-group list-group-flush col-5">
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/category-form}">Manage Category</a>
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/index}">Return to Dashboard</a>
				
			</div>

		<table  class="table col-7">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Category Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${categoryList}">
					<th scope="row" th:text="${category.categoryId}"></th>
					<td th:text="${category.categoryName}"></td>
					<td>
						<a href="#" th:href="@{'/manager/updateCategory/'+ ${category.categoryId}}" 
						class="btn btn-danger">Update</a>
						<a href="#" th:href="@{'/manager/delete-Category/'+ ${category.categoryId}}" 
						class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>

		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-block" style="padding: 24px;">
					<form th:action="@{/manager/add-category}" method="post">
						<fieldset>
							<div class="form-group">
								<label for="categoryName">Category Name</label> <input
									type="text" class="form-control" id="categoryName"
									name="categoryName" placeholder="Category Name">
							</div>

							<div class="form-actions" style="margin-top: 12px;">
								<button type="submit" class="btn btn-success">ADD</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
