<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>
	<div class="container">
	<h1 class="display-4 my-3">Your Cart Product!</h1>
		<div class="row">
			<ul class="list-group col-9">
				<li class="list-group-item d-flex justify-content-around">
					<span class="my-auto h6">Product Image</span> 
					<span class="my-auto h6">Product Name</span> 
					<span class="my-auto h6">Quantity</span> 
					<span class="my-auto h6">Price per product</span>
					<span class="my-auto h6">.........</span>
				</li>
			</ul>
			<ul class="list-group col-9" th:each="product : ${user.productList}">
				<li class="list-group-item d-flex justify-content-around">
					<img th:src="${product.image}" height="100"> 
					<span class="my-auto" th:text="${product.productName}"></span>
					<span><input type="number"
					min="1" value="1" name="quantity"
				   class="form-control" placeholder="quantity" style="width:40%; margin:20px 10px 20px 10px;" /></span>
					 
					<span class="my-auto" th:text="'Rs. '+${product.productPrice}"></span>
					<span><a href="#" th:href="@{'~/profile/removeToCart/' + ${product.productId}}" class="btn btn-primary">Remove</a></span>
					
					
				</li>
			</ul>
			<ul class="list-group col-9">
				<li class="list-group-item d-flex justify-content-end">
					<span class="h6" th:text="'Total : Rs. '+${total}"></span>
				</li>
				<li class="list-group-item d-flex justify-content-end">
					<a href="#" type="button" class="btn btn-primary">Check Out</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
